
.linktosignup,.linktosignup:hover{
	color: white;
}
.mainback{
	background-image: url('../images/back.jpeg');
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: center;
    z-index: -1;
  

}

.mainblack{
    
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,.90);
	z-index: 0;
	overflow-y: scroll;
}
.clogo{
	width: 23%;
	margin-left: 2%;
	height: 20vh;
	z-index: 0;
	float:left;
}
.black{
  width: 100%;
  position: relative;
  height: 300px;
  z-index: 1;
  background-color: rgba(0,0,0,.60);
}

.logo{
	width: 100%;
	height: 22vh;
	margin:auto;

}

.col1{
	width: 26%;
	height: 22vh;
	margin:0 auto;
	
}
.row1{
	width: 100%;
	height: 22vh;

}
.row2{
	text-align: center;
	height: 80vh;
	width: 100%;
	
}
.col2{
	color: white;
	height: 70vh;
	width: 40%;
	margin: 0 auto;
	border: 3px solid white;
	border-radius: 10px;
	
}
#col2{
	height: 100vh;
}
.row21{
   
	font-size: 28px;
	font-weight: bold;
	font-family: 'PT Serif', serif;
	margin-top:20px;
}
#row2{
    height: 105vh;

}

.logintab{
	margin-top: 1vh;
   width: 100%;

 
   
}
.row22{
	margin:0 auto;
	width: 80%;
}
td{
	padding:20px;
}
.inputs{
    background: transparent;
    border:none;
    border-bottom:2px solid white;
    width: 200px;
    height: 40px;
    color: white;
    font-size: 20px;
}
.logbtn{
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	background: transparent;
	border: 1px solid white;
	border-radius: 10px;
	color: white;
	width: 200px;
	height: 50px;
	cursor: pointer;
	font-size: 20px;
}
a, a:hover
{ outline: none;
  color: #111;
  text-decoration: underline;}

a:hover
{ text-decoration: none;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #header, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#main
{ width: 100%;
 }

#logo
{ width: 100%;
  position: relative;
  height: 300px;
  background: url(../images/2.jpg);
  background-position:center;
  z-index: -1; }

#menubar
{ width: 100%;
  height: 35px;
  padding: 8px 0 0 0;
  margin: -45px 0 0 0;
  position: relative;
  z-index: 1;
  float: right;} 

ul#menu
{ float: right;
  margin: 0;}

ul#menu li
{ float: left;
  margin: 5px 0 0 0;
  padding: 0 0 0 6px;
  list-style: none;}

ul#menu li a
{ letter-spacing: 0em;
  font: normal 105% arial, sans-serif;
  text-transform: uppercase;
  display: block; 
  float: left; 
  height: 20px;
  text-decoration: none; 
  padding: 9px 22px 5px 16px;
  text-align: center;
  color: #FFF;
  border: 0;} 

ul#menu li.selected a
{ height: 25px;
  color: #111;
  padding: 7px 22px 5px 16px;}

ul#menu li.selected
{ margin: 7px 0 0 0;
  background: #F8F8F8;}

ul#menu li a:hover
{ color: #888;}

#footer
{ width: 100%;
  height: 33px;
  padding: 20px 0 4px 0;
  text-align: center; 
  background: #555;
  color: #AAA;
  border-top: 1px solid #FFF;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 80%;}

#footer a
{ color: #FFF;
  text-decoration: none;}

#footer a:hover
{ color: #FFF;
  text-decoration: none;
}

.res{
	color:red;
	font-size: 22px;
	margin-top: 1vh;
}

.loginname{
	color:white;
	font-size: 25px;
	text-align: center;
	padding-top: 2%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 1%;
	border-right: 4px solid white;
	border-left: 4px solid white;
	border-bottom: 7px solid white;
	border-radius: 5px;
	width:10%;
	margin-left:84% 
}
.maincontent{
	height: 120vh;
	width: 100%;
	display: flex;
}
.lbar{
	width:70%;
    height: 120vh;
}
.rbar{
	width: 30%;
	height: 113vh;
	border-left: 3px solid #076f91;
	margin-top: 25px;
}
#sbar{
	border:1px solid black;
}
#sbtn{
	background-color:#A10507;
	color: white;
	text-shadow: 0 -1px 0 #000;
	border:1px solid #A10507;
	border-radius: 3px;
	width:24%;
	height: 5.9vh;
	
}
#sbar{
	background-color: white;
	color: black;
	border:1px solid #014B63;
	border-radius: 3px;
	width:73%;
	height: 5vh;
	box-shadow: 2px 2px 5px #00A1B4;
    
}
.searchbar{
	
	padding-top: 6%;
	width: 86%;
	margin:0 auto;
}
.searchtbl{
	background:linear-gradient(#A10507,#ff5601);
	color: white;
	width: 100%;
	border: 2px solid white;
	border-radius: 8px;
	

}
.searchtabl{
	background:linear-gradient(to right,#014B63,#00A1B4);
	color: white;
	width: 100%;
	border: 2px solid white;
	border-radius: 8px;
	

}
.reqaccept{
	width:86%;
	height: 102vh;
	margin:0 auto;
	margin-top: 48px;

}
.row{
	padding: 8px;
}


#abtn{
	width:100%;
	background-color: #cae0c3;
	border:1px solid #cae0c3;
	border-radius: 5px;

}
#dropdown{
	position: absolute;
	z-index: 2;
}

#head{
	position: relative;
	z-index: 1;
}

.pst{
	width: 98%;
	height: 110vh;
    margin: 0 auto;

}
.writepost{
	border:2px solid #014B63;
	border-radius: 3px;
	height: 10vh;
	width:90%;
	

}
.postbtn{
	height: 5vh;
	background-color: #A10507;
	border:1px solid #A10507;
	border-radius: 3px;
	margin-top: 3vh;
	margin-left: 1%;
	width:9%;
	color: white;


}
.sharebar{
	width: 90%;
	margin: 0 auto;
	margin-top: 3vh;
	display: flex;
}

.mainpost{
	width: 90%;
	height: 95vh;
	margin: 0 auto;
	overflow-y: scroll; 
	overflow-x: none;
	margin-top: 20px; 
}
.upost{
	height: 25px;
	width: 97.5%;
	font-size: 22px;
	padding: 10px;
	background:linear-gradient(to right,#014B63,#00A1B4);
	color: white;
	display: flex;

}
.tpost{
  width: 97.5%;
  font-size: 11px;
  margin-top: 3px;
  padding-left: 15px;
  color: grey;
}
.cpost{
  width:97.5%;
  font-size: 16px;
  padding-left: 18px;
  
}
.whole{
	width: 99%;
	border:2px solid #014B63;
	border-radius: 5px;
	margin-bottom: 8px;
}

#headuid{
	font-size: 15px;
	padding-top: 4px;
}	
	
#style-13::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	border-radius: 10px;
	background-color: #CCCCCC;
}

#style-13::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-13::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #00A1B4;
	background-image: -webkit-linear-gradient(90deg,
											  transparent,
											  rgba(0, 0, 0, 0.4) 50%,
											  transparent,
											  transparent)
}