

.linktosignup,.linktosignup:hover{
	color: white;
}
.mainback{
	background-image: url('../images/back.jpeg');
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: center;
    z-index: -1;
  

}

.mainblack{
    
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,.90);
	z-index: 0;
	overflow-y: scroll;
}
.clogo{
	width: 23%;
	margin-left: 2%;
	height: 20vh;
	z-index: 0;
}
.black{
width: 100%;
  position: relative;
  height: 300px;
  z-index: 1;
  background-color: rgba(0,0,0,.75);
}

.logo{
	width: 100%;
	height: 22vh;
	margin:auto;

}

.col1{
	width: 26%;
	height: 22vh;
	margin:0 auto;
	
}
.row1{
	width: 100%;
	height: 22vh;

}
.row2{
	text-align: center;
	height: 80vh;
	width: 100%;
	
}
.col2{
	color: white;
	height: 70vh;
	width: 40%;
	margin: 0 auto;
	border: 3px solid white;
	border-radius: 10px;
	
}
#col2{
	height: 100vh;
}
.row21{
   
	font-size: 28px;
	font-weight: bold;
	font-family: 'PT Serif', serif;
	margin-top:20px;
}
#row2{
    height: 105vh;

}

.logintab{
	margin-top: 5vh;
   width: 100%;

 
   
}
.row22{
	margin:0 auto;
	width: 80%;
}
td{
	padding:20px;
}
input[type=text],input[type=password]{
    background: transparent;
    border:none;
    border-bottom:2px solid white;
    width: 200px;
    height: 40px;
    color: white;
    font-size: 20px;
}
.logbtn{
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	background: transparent;
	border: 1px solid white;
	border-radius: 10px;
	color: white;
	width: 200px;
	height: 50px;
	cursor: pointer;
	font-size: 20px;
}
a, a:hover
{ outline: none;
  color: #111;
  text-decoration: underline;}

a:hover
{ text-decoration: none;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #header, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#main
{ width: 100%;
 }

#logo
{ width: 100%;
  position: relative;
  height: 300px;
  background: url(../images/main2.jpg);
  background-position:center;
  z-index: -1; }

#menubar
{ width: 100%;
  height: 35px;
  padding: 8px 0 0 0;
  margin: -45px 0 0 0;
  position: relative;
  z-index: 1;
  float: right;} 

ul#menu
{ float: right;
  margin: 0;}

ul#menu li
{ float: left;
  margin: 5px 0 0 0;
  padding: 0 0 0 6px;
  list-style: none;}

ul#menu li a
{ letter-spacing: 0em;
  font: normal 105% arial, sans-serif;
  text-transform: uppercase;
  display: block; 
  float: left; 
  height: 20px;
  text-decoration: none; 
  padding: 9px 22px 5px 16px;
  text-align: center;
  color: #FFF;
  border: 0;} 

ul#menu li.selected a
{ height: 25px;
  color: #111;
  padding: 7px 22px 5px 16px;}

ul#menu li.selected
{ margin: 7px 0 0 0;
  background: #F8F8F8;}

ul#menu li a:hover
{ color: #888;}

#footer
{ width: 100%;
  height: 33px;
  padding: 20px 0 4px 0;
  text-align: center; 
  background: #555;
  color: #AAA;
  border-top: 1px solid #FFF;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 80%;}

#footer a
{ color: #FFF;
  text-decoration: none;}

#footer a:hover
{ color: #FFF;
  text-decoration: none;
}

