


.mainback{
	background-image: url('../images/back.jpeg');
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: center;
    z-index: -1;
}

.mainblack{
    
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,.90);
	z-index: 0;
}

.logo{
	width: 100%;
	height: 22vh;
	margin:auto;

}
.col1{
	width: 26%;
	height: 22vh;
	margin:0 auto;
	
}
.row1{
	width: 100%;
	height: 22vh;

}
.row2{
	text-align: center;
	height: 80vh;
	width: 100%;
	
}
.col2{
	color: white;
	height: 70vh;
	width: 40%;
	margin: 0 auto;
	border: 3px solid white;
	border-radius: 10px;
}
.row21{
   
	font-size: 28px;
	font-weight: bold;
	font-family: 'PT Serif', serif;
	margin-top:20px;
}

.logintab{
	margin-top: 5vh;
   width: 100%;
   
}
.row22{
	margin:0 auto;
	width: 80%;
}
td{
	padding:20px;
}
input[type=text],input[type=password]{
    background: transparent;
    border:none;
    border-bottom:2px solid white;
    width: 200px;
    height: 40px;
    color: white;
    font-size: 20px;
}
.logbtn{
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	background: transparent;
	border: 1px solid white;
	border-radius: 10px;
	color: white;
	width: 200px;
	height: 50px;
	cursor: pointer;
	font-size: 20px;
}

